*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main{
    height: 100vh;
}
.box{
    width: 450px;
    height: 350px;
    background: #000000;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(43, 42, 42, 0.363);
}
li{
    width: 300px;
    padding: 15px;
    color: #fff;
    background: #151515;
    list-style: none;
    /* text-align: end; */
    border-radius: 20px;
    margin: 10px;
    cursor: pointer;
    transition: all .4s;
    position: relative;
}
li:hover{
    transform: translate(20px);
    box-shadow: inset 0 0 10px rgb(212, 195, 36), 0 0 10px rgb(212, 5, 253);
    text-shadow: 2px 0 1px  red;
}
.box:hover{
    box-shadow: 0 0 5px rgb(119, 117, 117);
}
/* .box:hover{
    transform: translate(0,-30%);
} */
/* li::before, 
li::after{
    content: "";
    position: absolute;
    background: #151515;
    transition: all .4s;
} */
/* li::before{
    width: 20px;
    height: 100%;
    top: 0;
    left: -25px;
} */
/* li::after{
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
} */
/* li:hover{
    background: #548bdd; */
    /* box-shadow: 0 0 10px rgb(212, 5, 253);
} */